.item {
    width: 23vw;
    color: #000;
    height: 300px;
    padding: 0 20px 20px;
    margin: 0 3vw;

    background: #fff;
    // background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;    
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    .item__titleW {
        width: 200px;
        background: #eee;
        height: 30px;
        margin-top: 20px;
        border-radius: 5px;
    }

    .item__prevW {
        width: 19vw;
        background: #eee;
        height: 100px;
        margin-top: 30px;
        border-radius: 5px;
    }
    
    .item__prev {
        margin-bottom: 100px;
    }

    .item__title {
        font-size: 25px;
    }
    
    .item__prev {
        margin-bottom: 100px;
    }
}